@charset "UTF-8";

	/*header*/
	header {
		width: 90%;
		height: 123px;
   		box-sizing: border-box;
   		margin-top:10px;
	}
	
	#header_nav{
		display: inline-block;
		width: 40%;
		height: 47px;
		padding: 81px 0 0 0;
		margin-bottom: 20px;
	}
	
	#header_nav li{
		float: right;
		list-style: none;
		height: 127px;
		width: 30%;
	}
	
	#header_nav a{
		float: right;
		text-align: right;
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
	
	#header_logo{
		display: inline-block;
		width: 20%;
		height: 47px;
		padding: 81px 0 0 0;
		text-align: center;
	}
	
	#header_sub{
		padding: 81px 0 0 0;
		display: inline-block;
		width: 38%;
		height: 47px;
		margin-bottom: 20px;
	}
	
	#header_sub li{
		float: left;
		list-style: none;
		height: 127px;
		width: 20%;
		text-align: left;
	}
	
	#header_sub a{
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
	
	/*footer*/
	#footer_wrap {
	box-sizing: border-box;
		width:60%;
		height:76px;
		clear:both;
		padding:10px;
		margin:  107px auto 50px 185px;
		}
	
	#footer_nav{
		width:70%;
		display: inline-block;
		text-align: left;
	}
	
	#footer_nav li{
		display: inline-block;
		list-style: none;
		text-decoration: none;
		color: #7C7C7C;
		text-align: left;
		font-size: 12px;
	}
	
	#footer_nav a{
		text-align: left;
		text-decoration: none;
		color: #7C7C7C;
		font-size: 12px;
	}
	
	#ft_site{
		display: inline-block;
		text-align: right;
		height: 76px;
		width: 20%;
	}
	
	#ft_site > select{
		color: ##7C7C7C;
		border: 1px solid #dadada;
	}