@charset "UTF-8";
	/*header*/
	header {
		width: 100%;
		height: 127px;
		margin: 0 auto;
	}
	
	#nav {
	z-index:4000px;
		width: 100%;
		height: 27px;
		left: 50%;
	}
	
	/*footer*/
	#footer_wrap {
	box-sizing: border-box;
		width:60%;
		height:76px;
		clear:both;
		padding:10px;
		margin:  107px auto 50px 285px;
		}
	
	#footer_nav{
		width:70%;
		display: inline-block;
		text-align: left;
	}
	
	#footer_nav li{
		display: inline-block;
		list-style: none;
		text-decoration: none;
		color: #7C7C7C;
		text-align: left;
		font-size: 12px;
	}
	
	#footer_nav a{
		text-align: left;
		text-decoration: none;
		color: #7C7C7C;
		font-size: 12px;
	}
	
	#ft_site{
		display: inline-block;
		text-align: right;
		height: 76px;
		width: 20%;
	}
	
	#ft_site > select{
		color: ##7C7C7C;
		border: 1px solid #dadada;
	}